.main {
  background-color: whitesmoke;
  width: 25%;
  height: 25vh;
  border: 4px solid yellow;
  border-top: none;
  margin: 0 auto;
  align-items: flex-start;
  .wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 0 40px;
  }
}

@media (max-width: 1200px) {
  .main {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .main {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .main {
    .wrapper {
      padding-left: 10px;
    }
  }
}

@media (max-width: 425px) {
  .main {
    width: 85%;
  }
}
